﻿<div class="header row">
	<div class="col-md-12">
		<img class="img-thumbnail" style="height:100px;float:left;margin:0px 20px;" src="~/Content/images/logo/EcoDesign-bgfree.png" />
		<h2>EcoDesign 2017</h2>
		<p class="lead">
			TAYIH LANDIS HOTEL, Tainan, Taiwan,
			November 29-December 1, 2017
		</p>
	</div>
</div>
