﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	@RenderSection("meta", required: false)
	<title>@ViewBag.Title - EcoDesign2017 Online Payment</title>
	@*@Styles.Render("~/Content/css")
		@Styles.Render("~/Content/common.css")*@
	<link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
	<link type="text/css" href="~/Content/site.css" rel="stylesheet" />
	<link type="text/css" href="~/Content/common.css" rel="stylesheet" />


	@*@Scripts.Render("~/bundles/modernizr")*@
	<script type="text/javascript" src="~/Scripts/modernizr-2.8.3.js"></script>

	@RenderSection("styles", required: false)
</head>
<body>
	<!--Sidebar-->
	@Html.Partial("_SideBarPartial")
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p class="text-center">&copy; @DateTime.Now.Year - Eco Design 2017. All Rights Reserved.</p>
		</footer>
	</div>

	@*@Scripts.Render("~/bundles/jquery")*@
	<script type="text/javascript" src="~/Scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


	@*@Scripts.Render("~/bundles/bootstrap")*@
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Scripts/respond.min.js"></script>

	@*@Scripts.Render("~/Scripts/angular.min.js")*@
	<script type="text/javascript" src="~/Scripts/angular.min.js"></script>

	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		$(function () {
			var isLogin = '@User.Identity.IsAuthenticated' == 'True';
			showWelcomeUser();
			$(".site__header").toggleClass("authorized", isLogin);

			$(".btn-list").click(function () {
				$(".site__header").toggleClass("site_opened");
				showWelcomeUser();
			});

			function showWelcomeUser() {
				var isShowWelcome = $(".site__header").hasClass("site_opened");
				$(".welcome-user").toggleClass("hide-welcome", !isShowWelcome);
			}
		});
	</script>
</body>
</html>
