﻿<div class="site__header">
	<!-- site__header-btn -->
	<button class="site__header-btn btn btn-default btn-list">
		<span class="glyphicon glyphicon-align-justify"></span>
	</button>
	<!-- /site__header-btn -->
	<!-- site__header-wrap -->
	<div class="site__header-wrap" id="site__header-wrap" tabindex="0" style="overflow: hidden; outline: none;">
		<!-- menu -->
		@if (User.Identity.IsAuthenticated)
		{
			<a href="#" class="site__header-btn btn btn-default welcome-user">
				<span class="ecoD-font-Tahoma ecoD-bold">Hello, </span>
				<span class="ecoD-font-Tahoma">@User.Identity.Name</span>
			</a>
		}
		<a href="~/Home/Index" class="site__header-btn btn btn-default" title="Home">
			<span class="glyphicon glyphicon-home"></span>
			<span class="disp-name">Home</span>
		</a>
		<a href="~/Home/RegFees" class="site__header-btn btn btn-default" title="Registration Fees">
			<span class="glyphicon glyphicon-tags"></span>
			<span class="disp-name">Tickets</span>
		</a>
		@if (!User.Identity.IsAuthenticated)
		{
			<a href="~/Home/Login" class="site__header-btn btn btn-default" title="Log In">
				<span class="glyphicon glyphicon-user"></span>
				<span class="disp-name">Log In</span>
			</a>
		}
		else
		{
			<a href="~/Order/UserOrders" class="site__header-btn btn btn-default" title="User Orders">
				<span class="glyphicon glyphicon-inbox"></span>
				<span class="disp-name">User Orders</span>
			</a>
			<a href="~/Home/Logoff" class="site__header-btn btn btn-default" title="Log Off">
				<span class="glyphicon glyphicon-log-out"></span>
				<span class="disp-name">Log Off</span>
			</a>
			}
		<!-- /menu -->
	</div>
	<!-- /site__header-wrap -->
</div>
