﻿<div class="right-sidebar col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Where</h3>
		</div>
		<div class="panel-body">
			<div class="google-map" title="TAYIH LANDIS HOTEL, Tainan, Taiwan">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.970779128898!2d120.19551031551322!3d22.988101984970566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e767bbe2eb481%3A0x5cf569bd95ceadc!2z5aSn5YSE6bqX57e76YWS5bqX!5e0!3m2!1szh-TW!2stw!4v1491400966222" width="320" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="location">
				<h3>EcoDesign 2017 is held at TAYIH LANDIS HOTEL, Tainan, Taiwan</h3>
				<div class="address-container">
					<address>
						<strong><a href="http://tainan.landishotelsresorts.com/" target="_blank">TAYIH LANDIS HOTEL</a></strong><br />
						No. 660, Section 1, Shi-Men Road<br />
						Tainan 70051, Taiwan<br>
						<abbr title="Tel"><span class="glyphicon glyphicon-earphone"></span></abbr>+886-6 213-5555
						<br />
						<abbr title="Reservation Center"><b>Reservation Center:</b></abbr>+886-2 2598-3455
					</address>
				</div>
			</div>

		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Contacts</h3>
		</div>
		<div class="panel-body">
			<address>
				<strong>Contact the EcoDesign 2017 Secretariat</strong>
				<br />
				<div class="btn btn-default" style="margin-top:10px;">
					<span class="glyphicon glyphicon-envelope"></span>
					<a href="mailto:ecodesign2017@email.ncku.edu.tw">EcoDesign 2017 Secretariat</a><br>
				</div>
			</address>
		</div>
	</div>
</div>
