﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/Content/common.css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)
</head>
<body>
	@Html.Partial("_SideBarPartial")
	<div class="container body-content">
		<div class="header row">
			<div class="col-md-12">
				<img class="img-thumbnail" style="height:100px;float:left;margin:0px 20px;" src="~/Content/images/logo/EcoDesign-bgfree.png" />
				<h2>EcoDesign 2017</h2>
				<p class="lead">
					TAYIH LANDIS HOTEL, Tainan, Taiwan,
					November 29-December 1, 2017
				</p>
			</div>
		</div>
		<hr />
		<div class="main row">
			<div class="left-main-content col-md-8">
				@RenderBody()
			</div>
			@Html.Partial("_RightSidePartial")
		</div>
		<hr />
		<footer>
			<p class="text-center">&copy; @DateTime.Now.Year - Eco Design 2017. All Rights Reserved.</p>
		</footer>
	</div>
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@*Angular.js*@
	@Scripts.Render("~/Scripts/angular.min.js")
	@RenderSection("scripts", required: false)
	<script type="text/javascript">
		$(function () {
			showWelcomeUser();
			var isLogin = '@User.Identity.IsAuthenticated' == 'True';

			$(".site__header").toggleClass("authorized", isLogin);

			$(".btn-list").click(function () {
				$(".site__header").toggleClass("site_opened");
				showWelcomeUser();
			});

			function showWelcomeUser() {
				var isShowWelcome = $(".site__header").hasClass("site_opened");
				$(".welcome-user").toggleClass("hide-welcome", !isShowWelcome);
			}
		});
	</script>

</body>
</html>
