﻿@model EcoDesign2017OnlinePayment.Models.ViewModels.CheckoutOrderViewModel
@{
	ViewBag.Title = "CheckoutOrder";
	Layout = "_TwoColumnLayout.cshtml";
	var transSuccess = Model.IsTransSuccessed;
	//transSuccess = false;
}
@section styles{
	<link type="text/css" rel="stylesheet" href="~/Content/pages/tickets_ordersummary.css" />
}
@if (transSuccess)
{
	var data = Model.Data;
	var ono = data.ONO;
	var details = Model.OrderDetails;
	<div class="order-checkout-container">
		<p class="bg-success" style="padding:15px;">
			<span style="font-size:large;">Order Number: </span>
			<span style="color:orange;font-size:large;">@ono</span>
		</p>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Order Detail</h4>
			</div>
			<div class="panel-body">
				<div class="order-detail-list-container">
					<table class="table table-condensed">
						<thead>
							<tr>
								<td width="35%">Ticket Type and Convers</td>
								<td>Content</td>
								<td width="20%">Price</td>
								<td width="5%">Quantity</td>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in details)
							{
								var price = item.Price;
								var attendReception = item.AttendReception.Value ? "yes" : "no";
								var attendBanquet = item.AttendBanquet.Value ? "yes" : "no";
								var tkTypeText = Model.GetTKTypeText(item.TicketTypeSN);
								<tr>
									<td class="ticket-type" style="padding-right:20px;">
										@Html.Partial("RegCovers/_TicketTypeDispatch", new Tuple<string, bool>(tkTypeText, item.INCLBanquet.Value))
									</td>
									<td class="accept-papers" style="padding-right:20px;">
										@if (item.PaperID != null)
										{
											<div class="paper-info-container">
												<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
												<br />
												<span>#@item.PaperID </span>
												<span class="paper-title">@item.PaperTitle</span>
											</div>
											<br />
										}
										<div class="attend-person-info">
											<p class="attend-person-name">
												<span>Name : @String.Format("{0} {1}", item.FirstName, item.LastName)</span>
											</p>
											<p class="attend-event-info">
												<span>Attend Reception : @attendReception</span>
												<br />
												<span>Food Restriction of Reception : @item.FoodRestriction</span>
												<br />
												<span>Attend Banquet : @attendBanquet</span>
												<br />
												<span>Food Restriction of Banquet : @item.FoodRestriction2</span>
											</p>
										</div>
									</td>
									<td class="ticket-price" style="padding-right:20px;">
										<span class="ntd-price">@String.Format("{0:N0} NTD", price)</span>
										<span class="usd-price color-dodgerblue">@String.Format(" ({0:N0} US$)", price / 30)</span>
									</td>
									<td class="ticket-quantity">@item.Qunatity</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-success btn-lg" style="float:right;margin-left:10px;" href='@Url.Action("UserOrders","Order")'>See User Orders</a>
			<a class="btn btn-info btn-lg" style="float:right;" href='@Url.Action("RegFees","Home")'>Re-select your Registration Fees</a>
		</div>
	</div>
}
@if (!transSuccess)
{
	var msg = Model.GetReturnCodeMessage();
	<div class="order-checkout-container-error">
		<p class="bg-danger" style="padding:15px;">
			<span style="font-size:large;">Transaction cancelled, due to @msg</span>
		</p>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-info btn-lg" style="float:right;" href='@Url.Action("RegFees","Home")'>Re-select your Registration Fees</a>
		</div>
	</div>

}

