﻿@using EcoDesign2017OnlinePayment.Models.ViewModels
@using System.Configuration
@model ConfirmOrderViewModel
@{
	ViewBag.Title = "ConfirmOrder";
	Layout = "_TwoColumnLayout.cshtml";

	//
	OrderSummaryViewModel osVM = null;
	if (Session["OrderSummary"] != null)
	{
		osVM = Session["OrderSummary"] as OrderSummaryViewModel;
	}
	var count = 0;//ticket idx

	var transUrl = ConfigurationManager.AppSettings["transUrl"] ?? "";
}
@section styles{
	<link type="text/css" rel="stylesheet" href="~/Content/pages/tickets_ordersummary.css" />
}
@section scripts{
	<script type="text/javascript">
		$("#pay_now_submit").click(function () {
			var url = '@Url.Action("OrderEnCode", "api/ESunTrans")';

			if (confirm("Are you sure ?")) {
				url = url + "?ono=" + $("#orderID").val();
				$.post(url, null, function (res, status) {
					console.log(res);
					console.log(status);
					if (status == "success") {
						var $form = $("#postForm");
						$form.find("#data").val(res.data);
						$form.find("#mac").val(res.mac);
						$form.find("#ksn").val(res.ksn);
						$form.submit();
					}
				}, "json");
			}
		});
	</script>
}
<div class="main">
	<div class="main-content">
		<input type="hidden" name="orderID" id="orderID" value="@Model.OrderID" />
		@if (osVM != null)
			{
			@Html.Partial("Summary/_ProdDetail", osVM)
			<br />
			}
		<div class="receipt-and-ticket-detail">
			<!--Receipt Information -->
			<div class="_reg_info panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Receipt and Tickets Information</h3>
				</div>
				<div class="panel-body">
					<div class="_reg_tax_container">
						<h3>Receipt Information</h3>
						<hr />
						@Html.Partial("ConfirmOrder/_Receipt", Model.Receipt)
					</div>
					<!--Tickets Information-->
					@if (Model.SpeakerTKs != null)
					{
						foreach (var item in Model.SpeakerTKs)
						{
							<div class="_ticket_num_container">
								<h3>Ticket @Html.Raw(++count) Speaker (Other than student)</h3>
								<hr />
								<div class="_ticket_info_content row">
									@Html.Partial("ConfirmOrder/_SpeakerTicket", item)
								</div>
							</div>
						}
					}
					@if (Model.StudentTKs != null)
					{
						foreach (var item in Model.StudentTKs)
						{
							var includeBanquetText = (!String.IsNullOrEmpty(item.AttendBanquet)) ? "include banquet" : "";
							<div class="_ticket_num_container">
								<h3>
									<span>Ticket @Html.Raw(++count) Student </span>
									<span class="color-darkgreen">(Speaker)</span>
									<span>@includeBanquetText</span>
								</h3>
								<hr />
								<div class="_ticket_info_content row">
									@Html.Partial("ConfirmOrder/_SpeakerTicket", item)
								</div>
							</div>
						}
					}
					@if (Model.StudentNoPaperTKs != null)
					{
						foreach (var item in Model.StudentNoPaperTKs)
						{
							var includeBanquetText = (!String.IsNullOrEmpty(item.AttendBanquet)) ? "include banquet" : "";
							<div class="_ticket_num_container">
								<h3>
									<span>Ticket @Html.Raw(++count) Student </span>
									<span class="color-darkgreen">(Non Speaker)</span>
									<span>@includeBanquetText</span>
								</h3>
								<hr />
								<div class="_ticket_info_content row">
									@Html.Partial("ConfirmOrder/_OtherTicket", item)
								</div>
							</div>
						}
					}
					@if (Model.NonSpeakerTKs != null)
					{
						foreach (var item in Model.NonSpeakerTKs)
						{
							<div class="_ticket_num_container">
								<h3>Ticket @Html.Raw(++count) Non Speaker</h3>
								<hr />
								<div class="_ticket_info_content row">
									@Html.Partial("ConfirmOrder/_OtherTicket", item)
								</div>
							</div>
						}
					}
					@if (Model.AcPersonTKs != null)
					{
						foreach (var item in Model.AcPersonTKs)
						{
							<div class="_ticket_num_container">
								<h3>Ticket @Html.Raw(++count) Accompanying Person</h3>
								<hr />
								<div class="_ticket_info_content row">
									@Html.Partial("ConfirmOrder/_OtherTicket", item)
								</div>
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-right" id="paynowcontainer">
			<img class="img-mastercard" src="~/Content/images/mastercard@2x.png" alt="mastercad" />
			<img class="img-visa" src="~/Content/images/visa@2x.png" alt="visa" />
			<button id="pay_now_submit" class="btn btn-lg btn-success btn-pay-now">Pay Now</button>
		</div>
	</div>
	<form name="postForm" id="postForm" method="post" action="@transUrl">
		<input type="hidden" name="data" id="data" />
		<input type="hidden" name="mac" id="mac" />
		<input type="hidden" name="ksn" id="ksn" />
	</form>
</div>
