﻿@using EcoDesign2017OnlinePayment.Models.ViewModels;
@model OrderSummaryViewModel
@{
	ViewBag.Title = "Order Summary";
	Layout = "_TwoColumnLayout.cshtml";
	var totlaAmount = Model.GetTotalAmount();
}
@section styles{
	<link type="text/css" rel="stylesheet" href="~/Content/pages/tickets_ordersummary.css" />
}
@section scripts{
	<script type="text/javascript">
		$(function () {
			/*
			 * all fields are required
			*/
			$("form[name='postForm']")
				.find("select, input[type!='hidden']")
				.not($(".hidden"))
				.attr("required", "");

			/* ==========================
			 * Food Restriction UI Events
			 *===========================*/
			$(".foodRestrictionChoice").change(function () {
				//assign
				var $this = $(this);
				var $restrictionOther = $this.siblings(".RestrictionOther");
				var $foodRestriction = $this.siblings(".FoodRestriction");

				//clear value
				$restrictionOther.val("");
				$foodRestriction.val("");

				//re-assign value
				$foodRestriction.val($this.val());
				var showRestrictionInput = ($this.val() != "Other");
				$restrictionOther.toggleClass("hidden", showRestrictionInput);

				/**/console.log("Choice Val :" + $this.val());
				console.log("hidden value:" + $foodRestriction.val());
			});
			$(".RestrictionOther").change(function () {
				var $this = $(this);
				var $foodRestriction = $this.siblings(".FoodRestriction");
				$foodRestriction.val($this.val());

				/**/console.log("hidden value:" + $foodRestriction.val());
			});

			/* ==========================
			 * Receipt Copy From User
			 *===========================*/
			$(".receipt-copy-user-btn").click(function () {
				console.log("receipt-copy-user-btn");
				var url = '@Url.Action("CopyFromLoginUser", "api/ESunTrans")';
				var data = null;
				var datatype = "json";
				$.post(url, data, function (res) {
					$("select[name='receipt.salutation']").val(res.salutation);
					$("input[name='receipt.firstname']").val(res.first_name);
					$("input[name='receipt.lastname']").val(res.last_name);
					$("input[name='receipt.emailaddress']").val(res.email);

					$("input[name='receipt.company']").val(res.affiliation);
					$("input[name='receipt.country']").val(res.country);
					$("input[name='receipt.mailingaddress']").val(res.mailing_address);

					$("input[name='receipt.county']").val(res.county);
				}, datatype);
				return false;
			});
		});
	</script>
}
@*左欄*@
<div class="main">
	<div class="main-content">
		@Html.Partial("Summary/_ProdDetail", Model)
		<!--End Order Summary-->
		<br />
		<form name="postForm" id="postForm" method="post" action="~/Tickets/ConfirmOrder">
			<div class="_reg_info panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Receipt and Tickets Information</h3>
				</div>
				<div class="panel-body">
					<!--Receipt Information -->
					<p class="text-right text-danger color-red"><sup>*</sup>Required Field</p>
					<div class="_reg_tax_container">
						<h3>Receipt Information</h3>
						<hr />
						@Html.Partial("Summary/_Receipt")
					</div>

					<!--Tickets ...-->
					@if (Model.TicketType == "sp" && Model.Speaker != null)
					{
						<!--Speaker Tickets-->
						@Html.Partial("BuyInfo/_SpeakerForm", Model.Speaker)
					}
					else if (Model.TicketType == "st" && Model.Student != null)
					{
						<!--Student Tickets-->
						@Html.Partial("BuyInfo/_StudentForm", Model.Student)
					}
					else if (Model.TicketType == "gen")
					{
						<!--Non Speaker Tickets-->
						@Html.Partial("BuyInfo/_NonSpeakerForm", Model)
					}
					<!--Accompanying Tickets-->
					@Html.Partial("BuyInfo/_AccompanyingForm", Model)


				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-right" id="confirmContainer">
					<button type="submit" href="#paynowcontainer" id="confirmBtn" class="btn btn-lg btn-success">Next</button>
				</div>
			</div>
		</form>
	</div>
</div>
