﻿@model EcoDesign2017OnlinePayment.Controllers.TicketsController.OutBound
@{
	ViewBag.Title = "TransCheckout";
}

<h2>TransCheckout</h2>
<p><b>DATA:</b>@Model.Data</p>
<p><b>MACD:</b>@Model.MACD</p>

