﻿@using EcoDesign2017OnlinePayment.Models.ViewModels;
@model OrderSummaryViewModel
@{
	var startTKIdx = 1;
	var count = (Model != null) ? Model.NonSpeakerCount : 0;
	var endTKIdx = startTKIdx + count;
	var idx = 0;
}
@for (int tkIdx = startTKIdx; tkIdx < endTKIdx; tkIdx++)
{
	<div class="_ticket_num_container">
		<h3>Ticket @tkIdx Non Speaker</h3>
		<hr />
		<div class="_ticket_info_content row">
			<div class="col-md-12">
				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="nonSpeakerTKs[@idx].Salutation">Salutation</label>
						<sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						@Html.Partial("Common/_AttendeePrefix", String.Format("nonSpeakerTKs[{0}].salutation", idx))
					</div>
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="nonSpeakerTKs[@idx].FirstName">FirstName</label>
						<sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" id="nonSpeakerTKs[@idx].firstname" name="nonSpeakerTKs[@idx].firstname" />
					</div>
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="nonSpeakerTKs[@idx].LastName">LastName</label>
						<sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" id="nonSpeakerTKs[@idx].lastname" name="nonSpeakerTKs[@idx].lastname" />
					</div>
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="nonSpeakerTKs[@idx].EmailAddress">EmailAddress</label>
						<sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						<input type="email" class="form-control" id="nonSpeakerTKs[@idx].emailaddress" name="nonSpeakerTKs[@idx].emailaddress" />
					</div>
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="nonSpeakerTKs[@idx].JobTitle">JobTitle</label>
						<sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" id="nonSpeakerTKs[@idx].jobtitle" name="nonSpeakerTKs[@idx].jobtitle" />
					</div>
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="nonSpeakerTKs[@idx].Company">Company/Organization</label>
						<sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						<input type="text" class="form-control" id="nonSpeakerTKs[@idx].company" name="nonSpeakerTKs[@idx].company" />
						<span class="text-info">(For individuals, please enter your full name.)</span>
					</div>
				</div>
				<!--D-->
				<div class="row reg-group">
					@Html.Partial("Common/_AttendReception", String.Format("nonSpeakerTKs[{0}].attendReception", idx))
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="attendee_1_company">Food Restriction of Reception</label><sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						@Html.Partial("Common/_FoodRestriction", String.Format("nonSpeakerTKs[{0}].foodRestriction", idx))
					</div>
				</div>

				<div class="row reg-group">
					@Html.Partial("Common/_AttendBanquet", String.Format("nonSpeakerTKs[{0}].attendBanquet", idx))
				</div>

				<div class="row reg-group">
					<div class="col-md-4 reg-type-label">
						<label for="attendee_1_company">Food Restriction of Banquet</label><sup class="color-red">*</sup>
					</div>
					<div class="col-md-8">
						@Html.Partial("Common/_FoodRestriction", String.Format("nonSpeakerTKs[{0}].foodRestriction2", idx))
					</div>
				</div>

			</div>
		</div>
	</div>
	idx++;
}
