﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model SpeakerRegFeeDTO
@if (Model != null && Model.Papers != null)
{
	var count = 0;
	var idx = 0;
	foreach (var item in Model.Papers)
	{
		<div class="_ticket_num_container">
			<h3>Ticket @Html.Raw(++count) Speaker (Other than student)</h3>
			<hr />
			<div class="_ticket_info_content row">
				<div class="col-md-12">

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].PaperTitle">PaperTitle</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							<div class="selected-paper paper-title">
								<span>#@item.PaperID </span>
								<span>@item.PaperTitle</span>
							</div>
							<input type="hidden" class="form-control" id="speakerTKs[@idx].papersn" name="speakerTKs[@idx].papersn" value="@item.PaperID" />
							<input type="hidden" class="form-control" id="speakerTKs[@idx].papertitle" name="speakerTKs[@idx].papertitle" value="@item.PaperTitle" />
							<input type="hidden" class="form-control" id="speakerTKs[@idx].OriginalPaperType" name="speakerTKs[@idx].OriginalPaperType" value="@item.OriginalPaperType" />
							<input type="hidden" class="form-control" id="speakerTKs[@idx].TreatAsPaperType" name="speakerTKs[@idx].TreatAsPaperType" value="@item.TreatAsPaperType" />
						</div>
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].Salutation">Salutation</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							@Html.Partial("Common/_AttendeePrefix", String.Format("speakerTKs[{0}].salutation", idx))							
						</div>
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].FirstName">FirstName</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="speakerTKs[@idx].firstname" name="speakerTKs[@idx].firstname" />
						</div>
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].LastName">LastName</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="speakerTKs[@idx].lastname" name="speakerTKs[@idx].lastname" />
						</div>
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].EmailAddress">EmailAddress</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							<input type="email" class="form-control" id="speakerTKs[@idx].emailaddress" name="speakerTKs[@idx].emailaddress" />
						</div>
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].JobTitle">JobTitle</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="speakerTKs[@idx].jobtitle" name="speakerTKs[@idx].jobtitle" />
						</div>
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="speakerTKs[@idx].Company">Company/Organization</label>
							<sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							<input type="text" class="form-control" id="speakerTKs[@idx].company" name="speakerTKs[@idx].company" />
							<span class="text-info">(For individuals, please enter your full name.)</span>
						</div>
					</div>
					<div class="row reg-group">
						@Html.Partial("Common/_AttendReception", String.Format("speakerTKs[{0}].attendReception", idx))
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="Reception-Food-Restriction">Food Restriction of Reception</label><sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							@Html.Partial("Common/_FoodRestriction", String.Format("speakerTKs[{0}].foodRestriction", idx))
						</div>
					</div>

					<div class="row reg-group">
						@Html.Partial("Common/_AttendBanquet", String.Format("speakerTKs[{0}].attendBanquet", idx))
					</div>

					<div class="row reg-group">
						<div class="col-md-4 reg-type-label">
							<label for="attendee_1_company">Food Restriction of Banquet</label><sup class="color-red">*</sup>
						</div>
						<div class="col-md-8">
							@Html.Partial("Common/_FoodRestriction", String.Format("speakerTKs[{0}].foodRestriction2", idx))
						</div>
					</div>
					
				</div>
			</div>
		</div>
		idx++;
	}//end foreach
}

