﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model StudentRegFeeDTO

@if (Model != null)
{
	//assign
	var tkCount = 1;
	var paperCountIdx = 0;
	var noPaperCountIdx = 0;
	var withBanquet = true;

	<!-- Student Ticket with Paper -->
	if (Model.STDPapers != null)
	{
		//No Banquet
		foreach (var item in Model.STDPapers)
		{
			<div class="_ticket_num_container">
				<h3>Ticket @Html.Raw(tkCount) Student <span class="color-darkgreen">(Speaker)</span></h3>
				<hr />
				@Html.Partial("StudentInput/_Template",
			   new Tuple<UserPaperDTO, int, bool>(item, paperCountIdx, !withBanquet))
			</div>
			paperCountIdx++;
			tkCount++;
		}
	}//endif

	if (Model.INCLBanquetPapers != null)
	{
		//Has Banquet
		foreach (var item in Model.INCLBanquetPapers)
		{
			<div class="_ticket_num_container">
				<h3>Ticket @Html.Raw(tkCount) Student <span class="color-darkgreen">(Speaker)</span> include banquet</h3>
				<hr />
				@Html.Partial("StudentInput/_Template",
			   new Tuple<UserPaperDTO, int, bool>(item, paperCountIdx, withBanquet))
			</div>
			paperCountIdx++;
			tkCount++;
		}
	}//endif

	<!-- Student Ticket without Paper -->
	if (Model.NonSpeakerCount > 0)
	{
		//No Banquet
		for (var idx = 0; idx < Model.NonSpeakerCount; idx++)
		{
			<div class="_ticket_num_container">
				<h3>Ticket @Html.Raw(tkCount) Student <span class="color-darkgreen">(Non-Speaker)</span></h3>
				<hr />
				@Html.Partial("StudentInput/_Template",
			   new Tuple<UserPaperDTO, int, bool>(null, noPaperCountIdx, !withBanquet))
			</div>
			noPaperCountIdx++;
			tkCount++;
		}
	}//endif

	if (Model.NonSpeakerWithBanquetCount > 0)
	{
		//Has Banquet
		for (var idx = 0; idx < Model.NonSpeakerWithBanquetCount; idx++)
		{
			<div class="_ticket_num_container">
				<h3>Ticket @Html.Raw(tkCount) Student <span class="color-darkgreen">(Non-Speaker)</span> include banquet</h3>
				<hr />
				@Html.Partial("StudentInput/_Template",
			   new Tuple<UserPaperDTO, int, bool>(null, noPaperCountIdx, withBanquet))
			</div>
			noPaperCountIdx++;
			tkCount++;
		}
	}//endif

}

