﻿<p class="text-center speaker-conver-title">Speaker (for non-student) covers</p>
<ul class="ticket-covers">
	<li>Proceedings (USB)</li>
	<li>Program brochure</li>
	<li>Reception</li>
	<li>Banquet</li>
	<li>Lunch and Coffee</li>
</ul>
