﻿@{
	var annotation = "";
	var hasBanquet = false;
	if (Model != null)
	{
		var tp = Model as Tuple<string, bool>;
		if(tp != null)
		{
			annotation = String.Format("({0})", tp.Item1);//Speaker or Non Speaker
			hasBanquet = tp.Item2;
		}
	}
	//Student (Speaker) registration covers
}
<p class="text-center student-conver-title">Student <span class="color-darkgreen">@annotation</span> registration covers</p>
<ul class="ticket-covers">
	<li>Proceedings (USB)</li>
	<li>Program brochure</li>
	<li>Reception</li>
	<li>Lunch and Coffee</li>
	@if (hasBanquet)
	{
		<li><b class="color-red">Banquet</b></li>
	}
</ul>
