﻿@{
	ViewBag.Title = "Index";
	var gid = Guid.NewGuid().ToString().Substring(0, 6);
	var ono = String.Format("{0}{1}", DateTime.Now.ToString("yyyyMMddHHmmss"), "");
}
@section scripts
{
	<script type="text/javascript" id="use-jquery">
		$(function () {
			var $jC = $(".j-container");
			var order = {
				"ONO": $jC.find("#ono").val(),
				"U": $jC.find("#u").val(),
				"MID": $jC.find("#mid").val(),
				"TA": $jC.find("#ta").val(),
				"TID": "EC000001"
			};
			var mac = "471dd95c98639c39ea98b5bd11014589c976f8245261cc3e56d13feb101f9152";
			mac = "4123edfff49b0ebf5ce17101199d99aa9313335df2e2cf502faa42789433431f";
			var ksn = "1";
			var sendData = {
				"data": order,
				"mac": mac,
				"ksn": ksn
			};

			/*
			 * use Form to submit
			*/
			$(".form-btn").click(function () {
				//
				var url = '@Url.Action("GetSendModel", "TransTest")';
				var data = null;
				var dataType = "json";
				$.post(url, data, function succ(res) {
					console.log(res);
					var $form = $("form[name='myForm']");
					var dataText = JSON.stringify(res.data);
					console.log("Res.DATA");
					console.log(res.data);
					console.log("Order");
					console.log(JSON.stringify(order));
					$("#data").val(res.data);
					$("#mac").val(res.mac);
					$("#ksn").val(res.ksn);

					//submit
					if (confirm("Sure")) {
						$form.submit();
					}

				}, dataType);

				/*
				var $form = $("form[name='myForm']");
				var dataText = JSON.stringify(order);
				$("#data").val(dataText);
				$("#mac").val(mac);
				$("#ksn").val(ksn);

				//submit
				if (confirm("Sure")) {
					$form.submit();
				}
				*/

			});

		});
	</script>
}
<h2>Index</h2>
<p>怎麼送出資料?</p>
<hr />
<div class="content">
	<h1> 用 Form 傳出 Test OK a</h1>
	<form name="myForm" method="post" action="https://acqtest.esunbank.com.tw/ACQTrans/esuncard/txnf014s">
		<input type="hidden" id="data" name="data" />
		<input type="hidden" id="mac" name="mac" />
		<input type="hidden" id="ksn" name="ksn" value="1" />
		<button type="button" class="btn btn-primary form-btn">正式送出取得授權</button>
	</form>
	<br />
</div>
<hr />
<hr />

<div class="content">
	<h1>用 Action with iframe</h1>
	<hr />
	<form method="post" action="~/TransTest/SendOrder">
		@*<iframe name="mainFrame" id="mainFrame" frameborder="1" src="https://acqtest.esunbank.com.tw/ACQTrans/esuncard/txnf014s" width="800" height="800"></iframe>*@
		<div class="j-container">
			<div class="row reg-group">
				<div class="col-md-2 reg-type-label">
					<label for="MID">MID, 特店特碼</label>
					<sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="mid" name="mid" value="8089019486" />
				</div>
			</div>

			<div class="row reg-group">
				<div class="col-md-2 reg-type-label">
					<label for="TID">TID，終端機代號</label>
					<sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="tid" name="tid" value="EC000001" />
				</div>
			</div>

			<div class="row reg-group">
				<div class="col-md-2 reg-type-label">
					<label for="ONO">ONO，訂單號</label>
					<sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="ono" name="ono" value="@ono" />
				</div>
			</div>

			<div class="row reg-group">
				<div class="col-md-2 reg-type-label">
					<label for="TA">TA，交易金額</label>
					<sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="ta" name="ta" value="901" />
				</div>
			</div>

			<div class="row reg-group">
				<div class="col-md-2 reg-type-label">
					<label for="U">U，回傳網址</label>
					<sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="u" name="u" value="https://asimovtech.com/EcoPay/TransTest/ReturnSendResult" />
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">送出</button>
	</form>
</div>
