﻿@model EcoDesign2017OnlinePayment.Controllers.TransTestController.MyTestViewModel
@{
    ViewBag.Title = "MyTest";
}

<h2>MyTest</h2>
@if (Model != null)
{
	<p>@Model.MyName</p>
	<p>@Model.MyAge</p>
	<p>MAC : @Model.Mac</p>
	<p>KSN : @Model.KSN</p>
}

