﻿@model EcoDesign2017OnlinePayment.Controllers.TransTestController.ReturnSendResultViewModel
@{
	ViewBag.Title = "ReturnSendResult";
	
}
<li><a href='@Url.Action("Index","TransTest")'>Back to Trans Test</a></li>
<h2>ReturnSendResult</h2>
@if (Model != null)
{
	var data = Model.Data;
	var pps = data.GetType().GetProperties();
	foreach (var pp in pps)
	{
		<p>
			<span><b>(@pp.Name) : </b></span>
			<span>@pp.GetValue(data)</span>
		</p>
	}
}

