﻿
@{
	ViewBag.Title = "TQuery";
}

<h2>@ViewBag.Title</h2>
<hr />

<p>特店交易查詢</p>
<p>正式特店代碼 : 8080036562</p>
<label>MID (特店代碼) : </label><input type="text" name="MID" value="8080036562" /><br />
<label>ONO (訂單編號) : </label><input type="text" name="ONO" value="20171005134034" /><br />

<button class="btn btn-primary" id="inbound">轉換為 Inbound parameter</button>
<hr />
<h4>Inbound Parameters</h4>
<form method="post" action="https://acq.esunbank.com.tw/ACQQuery/esuncard/txnf0180">
	<label>Data : </label><input type="text" name="data" />
	<br />
	<label>Mac : </label><input type="text" name="mac" />
	<br />
	<label>KSN : </label><input type="text" name="ksn" value="1" />
	<hr />
	<button type="submit">送出</button>
</form>

<h4>OutBound</h4>
<div id="result">
	@if (ViewBag.DD != null)
	{
		<pre>@ViewBag.DD</pre>
	}
</div>
<hr />
@section meta{
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
}
@section scripts{
	<script type="text/javascript">
		$(function () {
			var toInbound = '@Url.Action("GetInbound", "TransTest")';
			var qUrl = "https://acq.esunbank.com.tw/ACQQuery/esuncard/txnf0180";
			$("#inbound").click(function () {
				var data = { "mid": $("input[name='MID']").val(), "ono": $("input[name='ONO']").val() }
				$.post(toInbound, data, function (res) {
					console.log(res);
					//assign
					$("input[name='data']").val(res.data);
					$("input[name='mac']").val(res.mac);
				}, "json");

			});//end click
		});
	</script>
}
