﻿@model EcoDesign2017OnlinePayment.Controllers.TransTestController.TransQueryViewModel
@{
    ViewBag.Title = "TransQueryResult";
}
<li><a href='@Url.Action("Index","TransTest")'>Back to Trans Test</a></li>
<h2>TransQueryResult</h2>
<h1>Answer : </h1>
<p>@Model.Raw</p>

