﻿
@{
	ViewBag.Title = "TransQuery";
}
<ul>
	<li><a href='@Url.Action("Index","TransTest")'>Trans Test</a></li>
</ul>
<h2>TransQuery</h2>
<form method="post" action="~/TransTest/TransQueryResult">
	<input type="text" name="ono" id="ono" value="20170811120728" placeholder="Order Number" />
	<button type="submit" class="btn btn-primary submit-btn">送出</button>
</form>

<hr />
<h1>用 jquery 送</h1>
<button class="btn btn-success go">JQuery 送</button>
<form method="post" action="https://acqtest.esunbank.com.tw/ACQQuery/esuncard/txnf0180" target="main" name="submitForm" id="submitForm">
	<iframe name="main"></iframe>
	<input type="hidden" name="data" value="" id="data" />
	<input type="hidden" name="mac" value="" id="mac" />

</form>
@section scripts{
	<script type="text/javascript">
		$(function () {
			console.log('y');
			$(".go").click(function () {
				var url = '@Url.Action("GetQueryModel", "TransTest")';
				var qurl = "https://acqtest.esunbank.com.tw/ACQQuery/esuncard/txnf0180";
				var ono = $("#ono").val();
				var data = { "ono": ono };
				var dataType = "json";
				$.post(url, data, function succ(res) {
					console.log(res);
					$("#data").val(res.data);
					$("#mac").val(res.mac);
					var dd = {
						"data": res.data,
						"mac": res.mac,
						"ksn": "1"
					};
					/*
					if (confirm('yes?')) {
						$("#submitForm").submit();
					}
					*/
					console.log('yyyn');
					$.ajax({
						url: qurl,
						data: dd,
						type: "post",
						crossDomain: true,
						dataType: 'jsonp',
						//jsonpCallback: function (DATA) {
						//	console.log("jsonp call back");
						//	console.log(DATA);
						//},
					});

					/*//OK, but can't read result
					$.ajax({
						url: qurl,
						data: dd,
						type: "post",
						crossDomain: true,
						dataType: 'json',						
						success: function (res) {
							console.log("ok");
							console.log(res);
						},
						error: function (res) {
							console.log("err");
							console.log(res);
						},
						//beforeSend: setHeader
					});
					*/

					/*
					if (confirm("to ")) {
						$.post(qurl, dd, function succ(res2) {
							console.log(res2);
						}, dataType);
					}
					*/

				}, dataType);

			});


		});
	</script>
}

