﻿@model EcoDesign2017OnlinePayment.Models.DTOs.UserDTO
@{
    ViewBag.Title = "UserInfo";
	var pps = Model.GetType().GetProperties();
}

<h2>UserInfo</h2>
@foreach(var pp in pps)
{
	<strong>@pp.Name : </strong>
	<span>@pp.GetValue(Model)</span>
	<br />
}
