﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model BasicTKDTO
<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Salutation</label>
	</div>
	<div class="col-md-8">
		<span>@Model.Salutation</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>First Name</label>
	</div>
	<div class="col-md-8">
		<span>@Model.FirstName</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Last Name</label>
	</div>
	<div class="col-md-8">
		<span>@Model.LastName</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Email Address</label>
	</div>
	<div class="col-md-8">
		<span>@Model.EmailAddress</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Job Title</label>
	</div>
	<div class="col-md-8">
		<span>@Model.JobTitle</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Company/Organization</label>
	</div>
	<div class="col-md-8">
		<span>@Model.Company</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Attend Reception</label>
	</div>
	<div class="col-md-8">
		<span class="attend-@Model.AttendReception">@(Model.AttendReception == "1" ? "Yes" : "No")</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Food Restriction of Reception</label>
	</div>
	<div class="col-md-8">
		<span>@Model.FoodRestriction</span>
	</div>
</div>
@if (!String.IsNullOrEmpty(Model.AttendBanquet))
{
	<div class="row reg-group">
		<div class="col-md-4 reg-type-label">
			<label>Attend Banquet</label>
		</div>
		<div class="col-md-8">
			<span class="attend-@Model.AttendBanquet">@(Model.AttendBanquet == "1" ? "Yes" : "No")</span>
		</div>
	</div>
	<div class="row reg-group">
		<div class="col-md-4 reg-type-label">
			<label>Food Restriction of Banquet</label>
		</div>
		<div class="col-md-8">
			<span>@Model.FoodRestriction2</span>
		</div>
	</div>
}

