﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model ReceiptDTO
<div class="_reg_type_content row">
	<div class="col-md-12">
		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>Salutation</label>
			</div>
			<div class="col-md-8">
				<span>@Model.Salutation</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>FirstName</label>
			</div>
			<div class="col-md-8">
				<span>@Model.FirstName</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>LastName</label>
			</div>
			<div class="col-md-8">
				<span>@Model.LastName</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>EmailAddress</label>
			</div>
			<div class="col-md-8">
				<span>@Model.EmailAddress</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>JobTitle</label>
			</div>
			<div class="col-md-8">
				<span>@Model.JobTitle</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>Company</label>
			</div>
			<div class="col-md-8">
				<span>@Model.Company</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>Country</label>
			</div>
			<div class="col-md-8">
				<span>@Model.Country</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>Mailing Address</label>
			</div>
			<div class="col-md-8">
				<span>@Model.MailingAddress</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>City</label>
			</div>
			<div class="col-md-8">
				<span>@Model.City</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>County</label>
			</div>
			<div class="col-md-8">
				<span>@Model.County</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label>PostalCode</label>
			</div>
			<div class="col-md-8">
				<span>@Model.PostalCode</span>
			</div>
		</div>

	</div>
</div>
