﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model SpeakerTKDTO
@if (!String.IsNullOrEmpty(Model.PaperTitle))
{
	<div class="row reg-group">
		<div class="col-md-4 reg-type-label">
			<label>PaperTitle</label>
		</div>
		<div class="col-md-8">
			<div class="selected-paper paper-title">
				<span>#@Model.PaperSN </span>
				<span>@Model.PaperTitle</span>
			</div>
		</div>
	</div>
}

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Salutation</label>
	</div>
	<div class="col-md-8">
		<span>@Model.Salutation</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>FirstName</label>
	</div>
	<div class="col-md-8">
		<span>@Model.FirstName</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>LastName</label>
	</div>
	<div class="col-md-8">
		<span>@Model.LastName</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>EmailAddress</label>
	</div>
	<div class="col-md-8">
		<span>@Model.EmailAddress</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>JobTitle</label>
	</div>
	<div class="col-md-8">
		<span>@Model.JobTitle</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Company</label>
	</div>
	<div class="col-md-8">
		<span>@Model.Company</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>AttendReception</label>
	</div>
	<div class="col-md-8">
		<span class="attend-@Model.AttendReception">@(Model.AttendReception == "1" ? "Yes" : "No")</span>
	</div>
</div>

<div class="row reg-group">
	<div class="col-md-4 reg-type-label">
		<label>Reception FoodRestriction</label>
	</div>
	<div class="col-md-8">
		<span>@Model.FoodRestriction</span>
	</div>
</div>


@if (!String.IsNullOrEmpty(Model.AttendBanquet))
{
	<div class="row reg-group">
		<div class="col-md-4 reg-type-label">
			<label>AttendBanquet</label>
		</div>
		<div class="col-md-8">
			<span class="attend-@Model.AttendBanquet">@(Model.AttendBanquet == "1" ? "Yes" : "No")</span>
		</div>
	</div>
	<div class="row reg-group">
		<div class="col-md-4 reg-type-label">
			<label>Banquet FoodRestriction</label>
		</div>
		<div class="col-md-8">
			<span>@Model.FoodRestriction2</span>
		</div>
	</div>
}

