﻿/*============================================
	Color
==============================================*/
.color-red {
	color: red;
}

.color-darkgreen {
	color: darkgreen;
}

.color-dodgerblue {
	color: dodgerblue;
}

.proceeding {
	font-weight: bold;
	color: magenta;
}

.Ebook, .e-book {
	font-weight: bold;
	color: darkcyan;
}

.attend-0, .attend-No {
	font-weight: bold;
	color: orangered;
}

.attend-1, .attend-Yes {
	font-weight: bold;
	color: forestgreen;
}

/*=================================
EcoDesign 2017 共用的字型和顏色
==================================*/
/* */
.ecoD-font {
	font-family: Calibri;
}

.ecoD-font-Tahoma {
	font-family: Tahoma;
}

.ecoD-bold {
	font-weight: bold;
}

.ecoD-red {
	color: red;
}

.ecoD-green {
	color: rgb(0,176,80);
}

.ecoD-cyan {
	color: rgb(80,196,205);
}

.ecoD-blue {
	color: rgb(79,129,189);
}

.ecoD-emphasize {
	font-weight: bold;
	font-style: italic;
}

.ecoD-underline {
	text-decoration: underline;
}

.ecoD-TDate {
	margin-top: 25px;
}

/*圖片*/
.ecoD-bgColor-transparent {
	background-color: transparent;
}

.ecoD-noborder {
	border: 0px;
}
/*=============================================
	_Layout.cshtml : sidebar
================================================*/
.site__header {
	position: absolute;
	background: lightgray;
	width: 40px;
	left: 0;
	bottom: 0;
	top: 0;
	-webkit-transition: width 400ms ease-in-out, height 400ms ease-in-out;
	transition: width 400ms ease-in-out, height 400ms ease-in-out;
	z-index: 999;
}

	.site__header.site_opened {
		width: 160px;
	}

		.site__header.site_opened .site__header-btn {
			width: 160px;
		}

		.site__header.site_opened .disp-name {
			display: inline-block;
			margin-left: 10px;
		}

.site__header-btn {
	text-align: left;
	width: 40px;
	height: 41px;
	-webkit-transition: width 400ms ease-in-out, height 400ms ease-in-out;
	transition: width 400ms ease-in-out, height 400ms ease-in-out;
}

.disp-name {
	display: none;
}

/* Loign Status*/
.site__header button, .site__header.authorized .glyphicon {
	color: black;
}

.site__header.authorized button, .site__header.authorized .glyphicon {
	color: darkcyan;
}

/*Login Welcome Message*/
.hide-welcome {
	display: none;
}
