﻿<div class="_ticket_buyer_container">
	<h3>Ticket Buyer</h3>
	<hr />
	<div class="_ticket_buyer_content row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4" style="text-align:right;">
					<div class="checkbox">
						<label>
							<input type="checkbox" />Copy from log in user
						</label>
					</div>
				</div>
				<div class="col-md-8">
					<p style="text-align:right;"><b><sup class="color-red">*</sup><span class="color-red">Required Field</span></b></p>
				</div>
			</div>

			<div class="row reg-group">
				<div class="col-md-4 reg-type-label">
					<label for="firstName"><sup class="color-red">*</sup>First Name</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="firstName" />
				</div>
			</div>
			<div class="row reg-group">
				<div class="col-md-4 reg-type-label">
					<label for="lastName"><sup class="color-red">*</sup>Last Name</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="lastName" />
				</div>
			</div>
			<div class="row reg-group">
				<div class="col-md-4 reg-type-label">
					<label for="email"><sup class="color-red">*</sup>Email Address</label>
				</div>
				<div class="col-md-8">
					<input type="text" class="form-control" id="email" />
				</div>
			</div>

		</div>
	</div>
</div>
