﻿@using EcoDesign2017OnlinePayment.Models.DTOs
@{
	/* Tuple Sequence ==========
	var paperID = 0;
	var paperTitle = "";
	var idx = 0;
	var hasBanquet = false;
	============================*/

	//Default values
	var hasBanquet = false;
	var paperID = "";
	var paperTitle = "";
	var OriginalPaperType = "";
	var TreatAsPaperType = "";
	var idx = 0;
	var inputName = "studentTKs";

	//re-assign values
	if (Model != null)
	{
		var tp = Model as Tuple<UserPaperDTO, int, bool>;
		if (tp != null)
		{
			var paper = tp.Item1 as UserPaperDTO;
			if (paper != null)
			{
				paperID = paper.PaperID;
				paperTitle = paper.PaperTitle;
				OriginalPaperType = paper.OriginalPaperType;
				TreatAsPaperType = paper.TreatAsPaperType;
			}
			idx = tp.Item2;
			hasBanquet = tp.Item3;
		}
	}
	if (String.IsNullOrEmpty(paperID))
	{
		inputName = "studentNoPaperTKs";
	}
	var inclBanquet = hasBanquet ? "1" : "0";
}
<div class="_ticket_info_content row">
	<div class="col-md-12">
		<input type="hidden" class="form-control" id="@(inputName)[@idx].inclBanquet" name="@(inputName)[@idx].inclBanquet" value="@(inclBanquet)" />
		@if (!String.IsNullOrEmpty(paperID))
		{
			<div class="row reg-group">
				<div class="col-md-4 reg-type-label">
					<label for="@(inputName)[@idx].PaperTitle">PaperTitle</label>
					<sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					<div class="selected-paper paper-title">

						<span>@paperTitle</span>
					</div>
					<input type="hidden" class="form-control" id="@(inputName)[@idx].papersn" name="@(inputName)[@idx].papersn" value="@paperID" />
					<input type="hidden" class="form-control" id="@(inputName)[@idx].papertitle" name="@(inputName)[@idx].papertitle" value="@paperTitle" />
					<input type="hidden" class="form-control" id="@(inputName)[@idx].OriginalPaperType" name="@(inputName)[@idx].OriginalPaperType" value="@OriginalPaperType" />
					<input type="hidden" class="form-control" id="@(inputName)[@idx].TreatAsPaperType" name="@(inputName)[@idx].TreatAsPaperType" value="@TreatAsPaperType" />
				</div>
			</div>
		}

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="@(inputName)[@idx].Salutation">Salutation</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				@Html.Partial("Common/_AttendeePrefix", String.Format("{1}[{0}].salutation", idx, inputName))
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="@(inputName)[@idx].FirstName">FirstName</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="@(inputName)[@idx].firstname" name="@(inputName)[@idx].firstname" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="@(inputName)[@idx].LastName">LastName</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="@(inputName)[@idx].lastname" name="@(inputName)[@idx].lastname" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="@(inputName)[@idx].EmailAddress">EmailAddress</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="email" class="form-control" id="@(inputName)[@idx].emailaddress" name="@(inputName)[@idx].emailaddress" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="@(inputName)[@idx].JobTitle">JobTitle</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="@(inputName)[@idx].jobtitle" name="@(inputName)[@idx].jobtitle" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="@(inputName)[@idx].Company">Company/Organization</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="@(inputName)[@idx].company" name="@(inputName)[@idx].company" />
				<span class="text-info">(For individuals, please enter your full name.)</span>
			</div>
		</div>
		<div class="row reg-group">
			@Html.Partial("Common/_AttendReception", String.Format("{1}[{0}].attendReception", idx, inputName))
		</div>
		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="attendee_1_company">Food Restriction of Reception</label><sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				@Html.Partial("Common/_FoodRestriction", String.Format("{1}[{0}].foodRestriction", idx, inputName))
			</div>
		</div>
		@if (hasBanquet)
		{
			<div class="row reg-group">
				@Html.Partial("Common/_AttendBanquet", String.Format("{1}[{0}].attendBanquet", idx, inputName))
			</div>
			<div class="row reg-group">
				<div class="col-md-4 reg-type-label">
					<label for="attendee_1_company">Food Restriction of Banquet</label><sup class="color-red">*</sup>
				</div>
				<div class="col-md-8">
					@Html.Partial("Common/_FoodRestriction", String.Format("{1}[{0}].foodRestriction2", idx, inputName))
				</div>
			</div>
		}
	</div>
</div>