﻿@{ 
	var inputName = "attendeePrefix";
	if(Model != null)
	{
		inputName = Model.ToString();
	}
}
<select id="@inputName" name="@inputName" class="form-control">
	<option value="">(choose one)</option>
	<option value="Mr.">Mr.</option>
	<option value="Mrs.">Mrs.</option>
	<option value="Ms.">Ms.</option>
	<option value="Miss">Miss</option>
	<option value="Mx.">Mx.</option>
	<option value="Dr.">Dr.</option>
	<option value="Prof.">Prof.</option>
	<option value="Rev.">Rev.</option>
</select>
