﻿@{
	var inputName = "attendeePrefix";
	if (Model != null)
	{
		inputName = Model.ToString();
	}
}
<div class="col-md-4 reg-type-label">
	<label for="@inputName">Reception</label><sup class="color-red">*</sup>
	<p>(11-29, 2017)</p>
</div>
<div class="col-md-8">
	<label class="radio-inline">
		<input type="radio" name="@inputName" id="@inputName" value="1" checked />Attend
	</label>
	<label class="radio-inline">
		<input type="radio" name="@inputName" id="@inputName" value="0" />Not Attend
	</label>
</div>