﻿@{
	var inputName = "attendeePrefix";
	if (Model != null)
	{
		inputName = Model.ToString();
	}
}
<div class="food-restriction-container form-inline">
	<select class="form-control foodRestrictionChoice">
		<option value="None" selected>None</option>
		<option value="Vegtarian">Vegetarian</option>
		<option value="NonBeef">Can't eat Beef</option>
		<option value="NonPork">Can't eat Pork</option>
		<option value="NonSeafood">Can't eat Seafood</option>
		<option value="Other">Other</option>
	</select>
	<input type="text" placeholder="" class="form-control RestrictionOther hidden" />
	<input type="hidden" id="@inputName" name="@inputName" value="None" class="form-control FoodRestriction" />
</div>