﻿@using EcoDesign2017OnlinePayment.Models.ViewModels;
@model OrderSummaryViewModel
@{
	var accompanyingPrice = 3000;
	var subTotal = Model.AccompanyingPersonCount * accompanyingPrice;
}
@if (Model.AccompanyingPersonCount > 0)
{
	<tr class="ticket-row">
		<td class="ticket-type" style="padding-right:20px;">
			@Html.Partial("RegCovers/_AccompanyingRegCovers")
		</td>
		<td class="accept-papers" style="padding-right:20px;"></td>
		<td class="ticket-price" style="padding-right:20px;">
			<span class="ntd-price">@String.Format("{0:N0} NTD", accompanyingPrice)</span>
			<br />
			<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", accompanyingPrice / 30)</span>
		</td>
		<td class="ticket-quantity">
			<span>@Model.AccompanyingPersonCount</span>
		</td>
		<td class="subtotal">
			<span class="ntd-price">@String.Format("{0:N0} NTD", subTotal)</span>
			<br />
			<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", subTotal / 30)</span>
		</td>
	</tr>
}

