﻿@using EcoDesign2017OnlinePayment.Models.ViewModels;
@model OrderSummaryViewModel
@{
	var regSettings = new RegFeesViewModel();
	var subTotal = Model.AdditionalBanquetCount * regSettings.BanquetPrice;
}
<!-- Student Additional Banquet-->
<tr class="ticket-row">
	<td class="ticket-type" style="padding-right:20px;">
		<p class="text-center speaker-conver-title">Additional Banquet Tickets</p>
		<ul class="ticket-covers">
			<li>Banquet</li>
		</ul>
	</td>
	<td class="accept-papers" style="padding-right:20px;"></td>
	<td class="ticket-price" style="padding-right:20px;">
		<span class="ntd-price">@String.Format("{0:N0} NTD", regSettings.BanquetPrice)</span>
		<br />
		<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", regSettings.BanquetPrice / 30)</span>
	</td>
	<td class="ticket-quantity">
		<span>@Model.AdditionalBanquetCount</span>
	</td>
	<td class="subtotal">
		<span class="ntd-price">@String.Format("{0:N0} NTD", subTotal)</span>
		<br />
		<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", subTotal / 30)</span>
	</td>
</tr>
