﻿@using EcoDesign2017OnlinePayment.Models.ViewModels;
@model OrderSummaryViewModel
@if (Model != null)
{
	var price = Model.GetNonSpeakerPrice();
	var subTotal = price * Model.NonSpeakerCount;
	<tr class="ticket-row">
		<td class="ticket-type" style="padding-right:20px;">
			@Html.Partial("RegCovers/_NonSpeakerRegCovers")
		</td>
		<td class="accept-papers" style="padding-right:20px;">
			<!--N/A-->
		</td>
		<td class="ticket-price" style="padding-right:20px;">
			<span class="ntd-price">@String.Format("{0:N0} NTD", price)</span>
			<br />
			<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", price / 30)</span>
		</td>
		<td class="ticket-quantity">
			<span>@Model.NonSpeakerCount</span>
		</td>
		<td class="subtotal">
			<span class="ntd-price">@String.Format("{0:N0} NTD", subTotal)</span>
			<br />
			<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", subTotal / 30)</span>
		</td>
	</tr>

}
