﻿@using EcoDesign2017OnlinePayment.Models.ViewModels;
@model OrderSummaryViewModel
@{
	var totlaAmount = 0;
	if(Model != null)
	{
		totlaAmount = Model.GetTotalAmount();
	}
}
<div class="_order_summary panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Order Summary</h3>
	</div>
	<div class="panel-body">
		<table class="_order_summary_content table table-condensed">
			<thead>
				<tr>
					<td width="35%">Ticket Type</td>
					<td>Selected Papers</td>
					<td width="20%">Price</td>
					<td width="5%">Qty</td>
					<td width="15%">Subtotal</td>
				</tr>
			</thead>
			<tbody>
				@if (Model.TicketType == "sp" && Model.Speaker != null)
				{
					@Html.Partial("Summary/_Speaker", Model.Speaker)
				}
				else if (Model.TicketType == "st")
				{
					@Html.Partial("Summary/_Student", Model.Student)
				}
				else if (Model.TicketType == "gen")
				{
					@Html.Partial("Summary/_NonSpeaker", Model)
				}
				@Html.Partial("Summary/_Accompanying", Model)
			</tbody>
		</table>
		<hr />
		<div class="_order_total_container row">
			<div class="_order_total_content col-md-12" style="text-align:right;">
				<span>
					<b>Total:</b>
				</span>
				<div class="_order_total" style="display:inline-block;margin-left:20px;">
					<span class="ntd-price">@String.Format("{0:N0} NTD", totlaAmount)</span>
					<span class="usd-price color-dodgerblue">@String.Format(" ({0:N0} US$)", totlaAmount / 30)</span>
				</div>
			</div>
		</div>
	</div>
</div>

