﻿<div class="_reg_type_content row">
	<div class="col-md-12">
		<div class="row reg-group">
			<div class="col-md-4 col-md-offset-4">
				<button class="btn btn-info receipt-copy-user-btn">Copy From Login User</button>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.Salutation">Salutation</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">				
				@Html.Partial("Common/_AttendeePrefix", "receipt.salutation")
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.FirstName">FirstName</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.firstname" name="receipt.firstname" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.LastName">LastName</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.lastname" name="receipt.lastname" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.EmailAddress">EmailAddress</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="email" class="form-control" id="receipt.emailaddress" name="receipt.emailaddress" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.JobTitle">JobTitle</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.jobtitle" name="receipt.jobtitle" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.Company">Company/Organization</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.company" name="receipt.company" />
				<span class="text-info">(For individuals, please enter your full name.)</span>
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.Country">Country</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">				
				@Html.Partial("Common/_CounrySelect", "receipt.country")
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.mailingaddress">Mailing Address</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.mailingaddress" name="receipt.mailingaddress" />
			</div>
		</div>		

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.City">City</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.city" name="receipt.city" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.County">County</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.county" name="receipt.county" />
			</div>
		</div>

		<div class="row reg-group">
			<div class="col-md-4 reg-type-label">
				<label for="receipt.PostalCode">PostalCode</label>
				<sup class="color-red">*</sup>
			</div>
			<div class="col-md-8">
				<input type="text" class="form-control" id="receipt.postalcode" name="receipt.postalcode" />
			</div>
		</div>
	</div>
</div>
