﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model SpeakerRegFeeDTO
@{
	var paperCount = (Model != null) ? Model.GetTicketCount() : 0;
	var subTotal = (Model != null) ? Model.GetAmount() : 0;
}
<tr class="ticket-row">
	<td class="ticket-type" style="padding-right:20px;">
		@Html.Partial("RegCovers/_SpeakerRegCovers")
	</td>
	<td class="accept-papers" style="padding-right:20px;">
		@if (Model != null && Model.Papers != null)
		{
			foreach (var item in Model.Papers)
			{
				<div class="selected-paper">
					<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
					<br />
					<span>#@item.PaperID </span>
					<span class="paper-title">@item.PaperTitle</span>
				</div>
			}
		}
	</td>
	<td class="ticket-price" style="padding-right:20px;">
		<span class="ntd-price">@String.Format("{0:N0} NTD", Model.Price)</span>
		<br />
		<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", Model.Price / 30)</span>
	</td>
	<td class="ticket-quantity">
		<span>@paperCount</span>
	</td>
	<td class="subtotal">
		<span class="ntd-price">@String.Format("{0:N0} NTD", subTotal)</span>
		<br />
		<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", subTotal / 30)</span>
	</td>
</tr>
