﻿@using EcoDesign2017OnlinePayment.Models.DTOs;
@model StudentRegFeeDTO

@if (Model != null)
{	
	<!--Student Speaker Papers without Banquet-->
	if (Model.STDPapers != null)
	{
		var stdPaperNoBanquetAmount = Model.GetSTDPaperNoBanquetAmount();
		<tr class="ticket-row">
			<td class="ticket-type" style="padding-right:20px;">
				@Html.Partial("RegCovers/_StudentRegCovers", new Tuple<string, bool>("Speaker", false))
			</td>
			<td class="accept-papers" style="padding-right:20px;">
				@foreach (var item in Model.STDPapers)
				{
				<div class="selected-paper">
					<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
					<br />
					<span>#@item.PaperID </span>
					<span class="paper-title">@item.PaperTitle</span>
				</div>
				}
			</td>
			<td class="ticket-price" style="padding-right:20px;">
				<span class="ntd-price">@String.Format("{0:N0} NTD", Model.STDPrice)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", Model.STDPrice / 30)</span>
			</td>
			<td class="ticket-quantity">
				<span>@Model.GetSTDPaperCount()</span>
			</td>
			<td class="subtotal">
				<span class="ntd-price">@String.Format("{0:N0} NTD", stdPaperNoBanquetAmount)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", stdPaperNoBanquetAmount / 30)</span>
			</td>
		</tr>
	}
	<!--Student Speaker with Banquet-->
	if (Model.INCLBanquetPapers != null)
	{
		var paperWithBanquetAmount = Model.GetPaperWithBanquetAmount();
		<tr class="ticket-row">
			<td class="ticket-type" style="padding-right:20px;">
				@Html.Partial("RegCovers/_StudentRegCovers", new Tuple<string, bool>("Speaker", true))
			</td>
			<td class="accept-papers" style="padding-right:20px;">
				@foreach (var item in Model.INCLBanquetPapers)
				{
					<div class="selected-paper">
						<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
						<br />
						<span>#@item.PaperID </span>
						<span class="paper-title">@item.PaperTitle</span>
					</div>
				}
			</td>
			<td class="ticket-price" style="padding-right:20px;">
				<span class="ntd-price">@String.Format("{0:N0} NTD", Model.INCLBanquetPrice)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", Model.INCLBanquetPrice / 30)</span>
			</td>
			<td class="ticket-quantity">
				<span>@Model.GetPaperWithBanquetCount()</span>
			</td>
			<td class="subtotal">
				<span class="ntd-price">@String.Format("{0:N0} NTD", paperWithBanquetAmount)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", paperWithBanquetAmount / 30)</span>
			</td>
		</tr>
	}
	<!--Student Non-Speaker without Banquet -->
	if (Model.NonSpeakerCount > 0)
	{
		var nonSpeakerAmount = Model.NonSpeakerCount * Model.STDPrice;
		<tr class="ticket-row">
			<td class="ticket-type" style="padding-right:20px;">
				@Html.Partial("RegCovers/_StudentRegCovers", new Tuple<string, bool>("Non-Speaker", false))
			</td>
			<td class="accept-papers" style="padding-right:20px;">
				
			</td>
			<td class="ticket-price" style="padding-right:20px;">
				<span class="ntd-price">@String.Format("{0:N0} NTD", Model.STDPrice)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", Model.STDPrice / 30)</span>
			</td>
			<td class="ticket-quantity">
				<span>@Model.NonSpeakerCount</span>
			</td>
			<td class="subtotal">
				<span class="ntd-price">@String.Format("{0:N0} NTD", nonSpeakerAmount)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", nonSpeakerAmount / 30)</span>
			</td>
		</tr>
	}
	<!--Student Non-Speaker with Banquet-->
	if (Model.NonSpeakerWithBanquetCount > 0)
	{
		var nonSpeakerWithBanquetAmount = Model.NonSpeakerWithBanquetCount * Model.INCLBanquetPrice;
		<tr class="ticket-row">
			<td class="ticket-type" style="padding-right:20px;">
				@Html.Partial("RegCovers/_StudentRegCovers", new Tuple<string, bool>("Non-Speaker", true))
			</td>
			<td class="accept-papers" style="padding-right:20px;"></td>
			<td class="ticket-price" style="padding-right:20px;">
				<span class="ntd-price">@String.Format("{0:N0} NTD", Model.INCLBanquetPrice)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", Model.INCLBanquetPrice / 30)</span>
			</td>
			<td class="ticket-quantity">
				<span>@Model.NonSpeakerWithBanquetCount</span>
			</td>
			<td class="subtotal">
				<span class="ntd-price">@String.Format("{0:N0} NTD", nonSpeakerWithBanquetAmount)</span>
				<br />
				<span class="usd-price color-dodgerblue">@String.Format("({0:N0} US$)", nonSpeakerWithBanquetAmount / 30)</span>
			</td>
		</tr>
	}
}





