﻿@{
	var hasBanquet = false;
	var ticketType = 0;
	if (Model != null)
	{
		var tp = Model as Tuple<int, bool>;
		if (tp != null)
		{
			ticketType = tp.Item1;
			hasBanquet = tp.Item2;
		}
	}
}
<ul class="ticket-covers" style="list-style-type:none;padding:0px;">
	@switch (ticketType)
	{
		case 0:
			break;
		case 1:
		case 2:
		case 3:
		case 4:
			<li>Proceedings (USB)</li>
			<li>Program brochure</li>
			<li>Reception</li>
			<li>Lunch and Coffee</li>
			break;
		case 5:
			<li>Reception</li>
			break;
	}	
	@if (hasBanquet)
	{
		<li>Banquet</li>
	}
</ul>
