﻿@{
	var title = "";
	var ticketCount = "";
	if (Model != null)
	{
		var tp = Model as Tuple<string, int>;
		title = tp.Item1;
		ticketCount = tp.Item2.ToString();
	}
}
<h3 class="text-center cover-title">
	<span>Ticket @ticketCount </span>
	@Html.Raw(title)
</h3>
