﻿@model  EcoDesign2017OnlinePayment.Models.ViewModels.UserOrdersViewModel
@using EcoDesign2017OnlinePayment.Models.DTOs
@{
	ViewBag.Title = "User Orders";	
}
@Html.Partial("_HeaderPartial")


<div class="main" ng-app="orderApp">
	<div class="main-content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>User Orders</h4>
			</div>
			<div class="panel-body">
				@if (Model.UserOrders != null && Model.UserOrders.Count > 0)
				{
					<div class="tablewrapper" ng-controller="orderController">
						<table class="table table-hover">
							<thead>
								<tr>
									<th class="row-num">#</th>
									<th class="order-num">OrderNum</th>
									<th class="order-date">OrderDate</th>
									<th class="order-date">Amount</th>
									<th class="order-date">Ticket types</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.UserOrders)
								{
									var rowNum = 1;
									var orderID = item.OrderID;
									var linkUrl = Url.Action("UserOrderDetail", "Order");
									var totalAmount = Model.GetOrderAmount(item.SN);
									//var detials = Model.GetOrderDetail(item.SN);
									var tkDict = Model.GetTicketDict(item.SN);
									<tr>
										<td>@rowNum</td>
										<td>
											<a href="@(linkUrl)?orderID=@(item.OrderID)">@orderID</a>
										</td>
										<td>@item.CreateDate</td>
										<td>
											<span class="ntd-price">@String.Format("{0:N0} NTD", totalAmount)</span>
											<span class="usd-price color-dodgerblue">@String.Format(" ({0:N0} US$)", totalAmount / 30)</span>
										</td>
										<td>
											@foreach (var ticket in tkDict)
											{
												<p><span style="font-weight:bold;">@ticket.Key</span> : @ticket.Value</p>
											}
										</td>
									</tr>
									rowNum++;
								}
							</tbody>
						</table>
					</div>
				}
				else
				{
					<p class="text-center text-muted" style="font-size:large;">No Data</p>
				}

			</div>
		</div>
	</div>
</div>
@section scripts{
	<script type="text/javascript">
		var app = angular.module("orderApp", []);
		app.controller("orderController", function ($scope) {
		});
	</script>
}

