﻿@model EcoDesign2017OnlinePayment.Models.ViewModels.UserOrderDetailViewModel
@{
	ViewBag.Title = "UserOrderDetail";
	var receipt = Model.OReceipt;
	var totalAmout = 0;
	var tkCount = 0;
	if (Model != null)
	{
		totalAmout = Model.GetTotalAmount();
	}
}
@section styles{
	<link type="text/css" rel="stylesheet" href="~/Content/pages/tickets_ordersummary.css" />
}
@Html.Partial("_HeaderPartial")
@*<h2>UserOrderDetail</h2>*@
<div class="main">
	<div class="main-content">
		<!--Summary-->
		<div class="_order_summary panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Order Summary</h3>
			</div>
			<div class="panel-body">
				<table class="_order_summary_content table table-condensed">
					<thead>
						<tr>
							<td width="35%">Ticket Type</td>
							<td>Selected Papers</td>
							<td width="20%">Price</td>
							<td width="5%">Qty</td>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.ODetails)
						{
							var tkTypeText = Model.GetTKTypeText(item.TicketTypeSN);
							<tr>
								<td class="ticket-type">
									@Html.Partial("~/Views/Tickets/RegCovers/_TicketTypeDispatch.cshtml"
											, new Tuple<string, bool>(tkTypeText, item.INCLBanquet.Value))
								</td>
								<td class="paper">
									@if (item.PaperTitle != null)
									{
										<div class="selected-paper">
											<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
											<br />
											<span>#@item.PaperID </span>
											<span class="paper-title">@item.PaperTitle</span>
										</div>
									}
									else
									{
										<p>N/A</p>
									}
								</td>
								<td class="price">
									<span class="ntd-price">@String.Format("{0:N0} NTD", item.Price)</span>
									<span class="usd-price color-dodgerblue">@String.Format(" ({0:N0} US$)", item.Price / 30)</span>
								</td>
								<td class="qty">1</td>
							</tr>
						}
					</tbody>
				</table>
				<hr />
				<div class="_order_total_container row">
					<div class="_order_total_content col-md-12" style="text-align:right;">
						<span>
							<b>Total:</b>
						</span>
						<div class="_order_total" style="display:inline-block;margin-left:20px;">
							<span class="ntd-price">@String.Format("{0:N0} NTD", totalAmout)</span>
							@if (totalAmout > 0)
							{
								<span class="usd-price color-dodgerblue">@String.Format(" ({0:N0} US$)", totalAmout / 30)</span>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Receipt-->
		<div class="receipt-info panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Receipt Info.</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-2">
						<strong>Order ID</strong>
					</div>
					<div class="col-md-7">
						<span>@Model.OrderID</span>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">
						<strong>Order Date</strong>
					</div>
					<div class="col-md-7">
						<span>@Model.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</span>
					</div>
				</div>
				<br />				
				<div class="row">
					<div class="col-md-2">
						<strong>Full Name</strong>
					</div>
					<div class="col-md-7">
						<span>@String.Format("{0} {1} {2}", receipt.Salutation, receipt.FirstName, receipt.LastName)</span>
						<br />
						
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">
						<strong>Job Title</strong>
					</div>
					<div class="col-md-7">
						<span>@receipt.JobTitle at @receipt.Company</span>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-md-2">
						<strong class="mailing-address">Mailing Address</strong>
					</div>
					<div class="col-md-7">
						<span>@receipt.MailingAddress</span>
						<br />
						<span>@receipt.City</span>
						<br />
						<span>@receipt.County, @receipt.PostalCode</span>
						<br />
						<span>@receipt.Country</span>
					</div>
				</div>				
			</div>
		</div>

		<!--Tickets-->
		<div class="tickets-info panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Tickets</h3>
			</div>
			<div class="panel-body">
				@foreach (var ticket in Model.ODetails)
				{
					tkCount++;
					var tkTitle = Model.GetTKTypeTitle(ticket.TicketTypeSN);
					var attendReception = ticket.AttendReception.Value ? "Yes" : "No";
					var attendBanquet = ticket.AttendBanquet.Value ? "Yes" : "No";
					<div class="row">
						<div class="col-md-8 col-md-offset-0" style="border:1px dashed gray;margin-left:10px;">
							<h3>@Html.Partial("_TicketTitle", new Tuple<string, int>(tkTitle, tkCount))</h3>
							<hr />
							<div class="row">
								<div class="col-md-3">
									<strong>Full Name</strong>
								</div>
								<div class="col-md-7">
									<span>@String.Format("{0} {1} {2}", ticket.Salutation, ticket.FirstName, ticket.LastName)</span>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-3">
									<strong>Company / Job Title</strong>
								</div>
								<div class="col-md-7">
									<span>@ticket.Company / @ticket.JobTitle</span>
								</div>
							</div>
							<br />
							@if (ticket.PaperID != null)
							{
								<div class="row">
									<div class="col-md-3">
										<strong>Paper Info.</strong>
									</div>
									<div class="col-md-7">
										<span class="paper-type @ticket.OriginalPaperType.ToLower()">@ticket.OriginalPaperType</span>
										
										@if (ticket.OriginalPaperType != ticket.TreatAsPaperType)
										{
											<span class="paper-type @ticket.TreatAsPaperType.ToLower()">( Treat as @ticket.TreatAsPaperType )</span>
											<br />
										}
										<span class="paper-title">#@ticket.PaperID @ticket.PaperTitle</span>
									</div>
								</div>
								<br />
							}
							<div class="row">
								<div class="col-md-3">
									<strong>Covers</strong>
								</div>
								<div class="col-md-7">
									@Html.Partial("_TicketCovers", new Tuple<int, bool>(ticket.TicketTypeSN, ticket.INCLBanquet.Value))
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-3">
									<strong>Attend Receiption</strong>
								</div>
								<div class="col-md-7">
									<span class="attend-@attendReception">@attendReception</span>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-3">
									<strong>Food Restriction of Reception</strong>
								</div>
								<div class="col-md-7">
									<span>@ticket.FoodRestriction</span>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-3">
									<strong>Attend Banquet</strong>
								</div>
								<div class="col-md-7">
									<span class="attend-@attendBanquet">@attendBanquet</span>
								</div>
							</div>
							<br />
							<div class="row">
								<div class="col-md-3">
									<strong>Food Restriction of Banquet</strong>
								</div>
								<div class="col-md-7">
									<span>@ticket.FoodRestriction2</span>
								</div>
							</div>
							<br />
						</div>
						<br />
					</div>
					<br />
				}

			</div>
		</div>
	</div>
</div>

