﻿<!--For Non Speaker Late Registration After Nov 10, On-Site by cash-->
<div class="col-md-4">
	<div class="fee-wrapper row">
		<div class="fee-content col-md-11 jumbotron bg-white">
			<h2 class="caption text-center">
				<span>Non Speaker</span>
				<br />
				<br />
			</h2>
			<div class="charge text-center">
				<h3>
					<span>
						24,000 New Taiwan Dollar (NTD) (800 US$)
					</span>
					<sup><a class="sup-notify" href="#notify-2">*2</a></sup>
				</h3>
			</div>
			<div class="brief-desc">
				@Html.Partial("RegCovers/_NonSpeakerRegCovers")
				<h3 class="early-bird-notify lead text-center info">
					Late Registration
					<br />
					(After Nov. 10, On-Site by cash)
				</h3>
			</div>
			<div class="buy-now">
				<div class="buy-now-container text-center">
					<h3>
						<a href="#" class="buy-link">BUY NOW</a>
					</h3>
				</div>
			</div>
		</div>
	</div>
</div>
