﻿
@{
    ViewBag.Title = "ForgotPassword";
}
@Html.Partial("_HeaderPartial")
<hr />
<h2>ForgotPassword</h2>
<p class="alert alert-warning">For security reasons, this system emails a reset password to registered users, rather than recalling the current password.

Enter your email address below to reset your password. A confirmation will be sent to this email address.
</p>
<form name="postForm" id="postForm" method="post" action="~/Home/ForgotPassword">
	<div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<span class="input-group-addon">
					<span class="glyphicon glyphicon-envelope"></span>
				</span>
				<input type="email" name="email" class="form-control" placeholder="Registered user's email" />
			</div>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-4">
			<a href="~/Home/ResetPassword" class="btn btn-default">Reset Password</a>
		</div>
	</div>
</form>

