﻿@{
	ViewBag.Title = "TICKETS";
	//Layout = "_LeftSidebarLayout.cshtml";
}
@section styles{
	<link href="~/Content/pages/tickets_index.css" type="text/css" rel="stylesheet" />
}
@section scripts{
	<script type="text/javascript">
		
	</script>
}
<div class="banner">
	<div class="jumbotron frosted-glass img-thumbnail">
		<div class="row">
			<div class="col-md-2" style="margin-right:50px;">
				<img alt="100%x180" data-src="holder.js/100%x180" src="@Url.Content("~/Content/images/logo/EcoDesign-bgfree.png")" data-holder-rendered="true" style="max-height: 288px; max-width: 175px; display: block;" />
			</div>
			<div class="col-md-9">
				<h1><span>Going </span><span class="ecoD-green">Green </span><span>EcoDesign 2017</span></h1>
				<p class="lead">
					<span class="ecoD-font ecoD-emphasize">10th International Symposium on Environmentally Conscious Design and Inverse Manufacturing</span>
					<br />
					<span class="ecoD-font ecoD-emphasize ecoD-blue">- New Technologies and Eco-innovation Towards Sustainability -</span>
				</p>
				<h2 class="ecoD-font ecoD-red">TAYIH LANDIS HOTEL, Tainan, Taiwan</h2>
				<h3 class="ecoD-TDate ecoD-font ecoD-emphasize ecoD-blue">November 29-December 1, 2017</h3>
			</div>
		</div>
	</div>
</div>
<div class="text-center">
	<a href="~/Home/RegFees" title="Tickets" class="video-card__reg" style="font-size: 3rem;">Pay Registration Fee</a>
</div>


