﻿
@{
	ViewBag.Title = "Login";
	var loginMsg = "Login with EcoDesign 2017 online submission account";
	var returnUrl = Request["returnUrl"] ?? Request.RawUrl;
	var message = ViewData["Message"] ?? "";
}
@*TODO:檢查是否有欄位未填寫*@
@section scripts{
	<script type="text/javascript">
		$(function () {
			var isOcsUser = '@(!String.IsNullOrEmpty(ViewBag.OcsUserName))';
			if (isOcsUser == 'True') {
				$("#pwd").focus();
			}
		});
	</script>
}
@Html.Partial("_HeaderPartial")
<hr />
<form id="postForm" method="post" action="~/Home/Login">
	<input type="hidden" name="returnUrl" value="@returnUrl" />
	<p class="text-danger login-msg">@loginMsg or <a href="~/Home/Signup">Sign up.</a></p>
	@if (!String.IsNullOrEmpty(ViewBag.OcsUserName))
	{
		<h3 class="text-info">For your account safety please sign-in again at accounts</h3>
	}
	<div class="row">
		<div class="col-md-3">
			<input id="userName" autofocus name="userName" type="text" class="form-control required" placeholder="username" value="@ViewBag.OcsUserName" />
			<p class="required-msg hidden text-danger">Please enter your userName</p>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
			<input id="pwd" name="pwd" type="password" class="form-control required" placeholder="password" />
			<p class="required-msg hidden text-danger">Please enter your password</p>
		</div>
	</div>
	<p class="text-warning">@message</p>
	<br />
	<div class="row">
		<div class="col-md-3">
			<button id="login-btn" name="login-btn" type="submit" class="btn btn-primary">Log in</button>
			<a href="https://ecodesign2017.ncku.edu.tw/ocs/index.php/EcoDesign/ecoD2017/login/lostPassword" target="_blank">Forgot your password?</a>
		</div>
	</div>
</form>

