﻿@model EcoDesign2017OnlinePayment.Models.ViewModels.RegFeesViewModel
@{
	ViewBag.Title = "RegFees";
	//var dueDateSettings = new ;
}
@section styles{
	<link href="~/Content/pages/tickets_regfees.css" type="text/css" rel="stylesheet" />
}
<h1 class="caption text-center" style="margin-top:0px;">Registration Fees</h1>
<p class="lead text-center">Chose your registration fee for EcoDesign 2017 conference here</p>
<div class="regFees-container row">
	<!--For Speaker-->
	<div class="col-md-4">
		<div class="fee-wrapper row">
			<div class="fee-content col-md-11 jumbotron bg-white">
				<h2 class="caption text-center">
					<span>Speaker</span>
					<br />
					<span>(Other than student)</span>
					<br />
				</h2>
				<div class="charge text-center">
					<h3>18,000 New Taiwan Dollar (NTD)(600 US$) <sup><a class="sup-notify" href="#notify-1">*1</a></sup></h3>
				</div>
				<div class="brief-desc">
					@Html.Partial("~/Views/Tickets/RegCovers/_SpeakerRegCovers.cshtml")
					<h3 class="early-bird-notify lead text-center info" style="margin-bottom:22px;">
						<br />
						Before or on Nov.17
						<br />
					</h3>
				</div>
				<div class="buy-now">
					<div class="buy-now-container text-center">
						<h3>
							@if (Model.SpeakerClosed)
							{
								<a class="buy-link" href="#">Closed</a>
							}
							else
							{
								<a class="buy-link" href="~/Tickets/RegFeeInfo?tk=sp">ORDER NOW</a>
							}
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--For Student (Speaker or non-speaker)-->
	<div class="col-md-4">
		<div class="fee-wrapper row">
			<div class="fee-content col-md-11 jumbotron bg-white">
				<h2 class="caption text-center">
					<span>Student</span>
					<br />
					<span style="font-size:26px;">(Speaker or non-speakers)</span>
					<br />
				</h2>
				<div class="charge text-center">
					<h3>
						<span>
							9,000 New Taiwan Dollar (NTD) (300 US$)
						</span>
					</h3>
				</div>
				<div class="brief-desc">
					@Html.Partial("~/Views/Tickets/RegCovers/_StudentRegCovers.cshtml")
					<p style="font-size:18px;">Additional payment of 3,000 New Taiwan Dollar (NTD) (100 US$) is needed to participate in the banquet<sup><a href="#notify-3" style="color:orangered;font-size:16px;">*3</a></sup></p>
					<div style="visibility:hidden;margin-bottom:-16px;">---</div>
					<h3 class="early-bird-notify lead text-center info"></h3>
				</div>
				<div class="buy-now">
					<div class="buy-now-container text-center">
						<h3>
							@if (Model.IsClosed)
							{
								<a class="buy-link" href="#">Closed</a>
							}
							else
							{
								<a class="buy-link" href="~/Tickets/RegFeeInfo?tk=st">ORDER NOW</a>
							}
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--For Non Speaker Early Registration-->
	<div class="col-md-4">
		<div class="fee-wrapper row">
			<div class="fee-content col-md-11 jumbotron bg-white">
				<h2 class="caption text-center">
					<span>Non Speaker</span>
					<br />
					<br />
				</h2>
				<div class="charge text-center">
					<h3>
						<span class="nonspeaker-caption">
							@Html.Raw(Model.NonSpeakerPriceCaption).ToHtmlString()
						</span>
						<sup><a class="sup-notify" href="#notify-2">*2</a></sup>
					</h3>
				</div>
				<div class="brief-desc">
					@Html.Partial("~/Views/Tickets/RegCovers/_NonSpeakerRegCovers.cshtml")
					<h3 class="early-bird-notify lead text-center info" style="margin-bottom:22px;">
						<span class="nonspeaker-desc1">@Html.Raw(Model.NoneSpeakerDesc1).ToHtmlString()</span>
						<br />
						<span class="nonspeaker-desc2">@Html.Raw(Model.NoneSpeakerDesc2).ToHtmlString()</span>
					</h3>
				</div>
				<div class="buy-now">
					<div class="buy-now-container text-center">
						<h3>
							@if (Model.IsClosed)
							{
								<a class="buy-link" href="#">Closed</a>
							}
							else
							{
								<a class="buy-link" href="~/Tickets/RegFeeInfo?tk=gen">ORDER NOW</a>
							}
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="notifications row">
	<div class="col-md-12">
		<ul>
			<li id="notify-1" class="info">
				<sup><a href="#top" class="sup-notify">*1</a> </sup>Speakers have to complete the registration before submitting the final papers.
				(For each accepted paper, one author must register, pay registration fee and personally present the paper at the symposium. The full registration will cover one accepted paper)
			</li>
			<li id="notify-2" class="info">
				<sup><a href="#top" class="sup-notify">*2</a> </sup>Non-speaker
			</li>
			<li id="notify-3" class="info">
				<sup><a href="#top" class="sup-notify">*3</a> </sup>The reception and banquet are held on November 29 and November 30, respectively.
			</li>
		</ul>
	</div>
</div>