﻿
@{
	ViewBag.Title = "Signup";
}

@Html.Partial("_HeaderPartial")
<hr />
<h2>Signup</h2>
@if(ViewData["Message"] != null)
{
	<p class="alert alert-danger">@ViewData["Message"].ToString()</p>
}
<hr />
<p class="text-info"><sup class="color-red">*</sup> Denotes required field</p>
<br />
<form id="postForm" name="postForm" method="post">
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Username</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="text" style="display:inline-block;" class="form-control required SPL-check username" id="Username" name="Username" placeholder="Username" />
			<span class="check glyphicon"></span>
			<p class="text-info">The username must contain only lowercase letters, numbers, and hyphens/underscores.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Email</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="email" style="display:inline-block;" class="form-control required SPL-check email" id="Email" name="Email" placeholder="Email" />
			<span class="check glyphicon"></span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Password</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="password" class="form-control required" id="Password" name="Password" placeholder="Password" />
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Confirm Password</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="password" class="form-control required" id="ConfirmPassword" name="ConfirmPassword" placeholder="ConfirmPassword" />
			<p class="text-danger pwd-check SPL-check"></p>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Salutation</label>
		</div>
		<div class="col-md-6">
			<select id="Salutation" name="Salutation" class="form-control">
				<option value="">(choose one)</option>
				<option value="Mr.">Mr.</option>
				<option value="Mrs.">Mrs.</option>
				<option value="Ms.">Ms.</option>
				<option value="Miss">Miss</option>
				<option value="Mx.">Mx.</option>
				<option value="Dr.">Dr.</option>
				<option value="Prof.">Prof.</option>
				<option value="Rev.">Rev.</option>
			</select>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">First_Name</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control required" name="First_Name" placeholder="First_Name" />
			<span class="check"></span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Last_Name</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control required" name="Last_Name" placeholder="Last_Name" />
			<span class="check"></span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-2 text-right">
			<label class="text-right">Company/Organization</label>
			<sup class="color-red">*</sup>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control required" name="Affiliation" placeholder="Affiliation/Company/Organization" />
			<span class="check"></span>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-3 col-md-offset-2">
			<button class="btn btn-primary register" type="button">Register</button>
		</div>
	</div>
</form>
@section scripts{
	<script type="text/javascript">
		var api = {
			email: '@Url.Action("IsEmailAvailable", "Home")',
			username: '@Url.Action("IsUserNameAvailable", "Home")',
		};
		$(function () {
			$("#Username").focus();
			/*events*/
			$("#Username, #Email").change(function () {
				//assign
				var warnMsg = "";
				var validClass = "glyphicon-ok";
				var notValidClass = "glyphicon-exclamation-sign color-red";
				var $this = $(this);
				var $ck = $this.siblings("span.check");

				//act
				if ($this.attr("name") == "Email") {
					var valid = validateEmail($this.val());
					$this.data("check", valid);
					if (!valid) {
						warnMsg = "email is not valid";
						dispWarnMsg($ck, notValidClass, warnMsg);
						return;
					}
				}
				var url = ($this.hasClass("username")) ? api.username : api.email;
				var data = { "checkText": $this.val() };
				var datatype = "json";
				$.post(url, data, function (res) {
					$this.data("check", res.Available);
					var toggClass = (res.Available) ? validClass : notValidClass;
					warnMsg = (res.Available) ? "" : "already in used";
					dispWarnMsg($ck, toggClass, warnMsg);
					//console.log(JSON.stringify(res));
				}, datatype);
			});

			$("#Password, #ConfirmPassword").change(function () {
				var pwd = $("#Password").val();
				var cpwd = $("#ConfirmPassword").val();
				var valid = (pwd == cpwd);
				var warnMsg = valid ? "" : "The Password and Confirm Password should be the same";
				$(".pwd-check").text(warnMsg).data("check", valid);
			});

			$(".register").click(function () {
				console.clear();
				//檢查欄位，正確則送出
				var requiredValid = false;
				var splCheckValid = false;
				console.log("===== required fields check ====");
				$("input.required").each(function () {
					var $this = $(this);					
					var isEmpty = ($this.val() == "");
					console.log($this.attr("name") + " required valid check: " + !isEmpty);
					requiredValid = !isEmpty;
					if (isEmpty) {
						$this.focus();
						return false;//break;
					}
				});
				console.log("===== special fields check ====");
				$(".SPL-check").each(function () {
					var $this = $(this);
					var valid = splCheckValid = $this.data("check");
					console.log($this.attr("name") + " valid check: " + valid);
					if (!valid) {
						$this.focus();
						return false;
					}
				});

				if (requiredValid && splCheckValid) {
					$("#postForm").submit();
				}
			});

			/*functions*/
			function dispWarnMsg($ck, toggClass, warnMsg) {
				//clear
				$ck.removeClass("glyphicon-ok glyphicon-exclamation-sign color-red");

				//
				$ck.addClass(toggClass);
				$ck.text(warnMsg);
			}
			function validateEmail(email) {
				var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
				return re.test(email);
			}
		});
	</script>
}
