﻿<div class="receipt-info panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Receipt Info.</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-2">
				<strong>Order ID</strong>
			</div>
			<div class="col-md-7">
				<span>##OrderID##</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<strong>Order Date</strong>
			</div>
			<div class="col-md-7">
				<span>##OrderDate##</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<strong>Full Name</strong>
			</div>
			<div class="col-md-7">
				<span>##FullName##</span>
				<br>

			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<strong>Job Title</strong>
			</div>
			<div class="col-md-7">
				<span>##JobTitle##</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-2">
				<strong class="mailing-address">Mailing Address</strong>
			</div>
			<div class="col-md-7">
				<span>##MailingAddress##</span>
				<br>
				<span>##City##</span>
				<br>
				<span>##County##, ##Postal##</span>
				<br>
				<span>##Country##</span>
			</div>
		</div>
	</div>
</div>