﻿.jumbotron {
	background-color: white;
	background: url('../images/explore-background.png') repeat;
}

.banner h1 {
        text-shadow: 0 1px hsl(0,0%,85%);
        font: bold 365%/1 Rockwell, serif;
    }


/* ======================================

=========================================*/
.video-card__reg {
	width: 400px;
	height: 70px;
	color: #253858;
	background: transparent;
	border: 2px solid #0052CC;
	font-size: 26px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 200;
	line-height: 66px;
	display: inline-block;
	margin-top: 20px;
	-webkit-transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background 300ms ease-in-out;
	transition: color 300ms ease-in-out, border-color 300ms ease-in-out, background 300ms ease-in-out;
	margin-bottom: 45px;
}

	.video-card__reg:hover {
		background: #0052CC;
		border-color: transparent;
		color: white;
	}
