﻿.bg-white {
	background-color: white;
}

.fee-content {
	border: 1px solid black;
	padding: 20px !important;
}

	.fee-content > h2.caption {
		margin-top: 0px;
	}

	.fee-content > div.charge {
		background-color: black;
		color: white;
		height: 95px;
		padding: 5px;
	}

a.sup-notify {
	color: orangered;
}

.fee-content > .brief-desc {
	margin-top: 10px;
}

.brief-desc > .ticket-covers {
	font-size: large;
}

.early-bird-notify {
	color: magenta;
}

.buy-now-container {
	background-color: orangered;
	height: 70px;
}

.buy-link {
	padding: 25px 0px;
	color: white;
	display: inline-block;
}

/*=== notifications ===*/
#notify-1, #notify-2, #notify-3{
	font-size:18px;
}

/*==================================
	Views/Tickets/RegCovers
==================================*/
p.nonSpeaker-conver-title {
	font-size: 20px;
}