﻿p.nonSpeaker-conver-title, p.student-conver-title, p.speaker-conver-title, p.accompanying-conver-title {
	font-weight: bold;
	text-align: left;
}

.btn-order-now {
	text-align: right;
	margin-left: 10px;
}

.img-mastercard, .img-visa {
	height: 46px;
}

