﻿/*=============================================
	Order Summary
==============================================*/
p.nonSpeaker-conver-title, p.student-conver-title, p.speaker-conver-title, p.accompanying-conver-title {
	font-weight: bold;
	text-align: left;
}

.selected-paper {
	margin-bottom: 10px;
}

.paper-title {
	font-size: 15px;
	font-weight: bold;
	color: gray;
}

/*============================================
Registration Information
==============================================*/
.reg-group {
	margin-bottom: 10px;
}

.reg-type-label {
	text-align: right;
}

/*=============================================
	Pay Now
===============================================*/
.btn-pay-now {
	text-align: right;
	margin-left: 10px;
	font-size: 32px;
}
