﻿<div class="nonSpeaker-ticket-container">
	<table class="table table-condensed">
		<thead>
			<tr>
				<td width="35%">Ticket Type</td>
				<td></td>
				<td width="20%">Price</td>
				<td width="10%">Quantity</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="ticket-type" style="padding-right:20px;">
					@Html.Partial("RegCovers/_AccompanyingRegCovers")
				</td>
				<td class="accept-papers" style="padding-right:20px;"></td>
				<td class="ticket-price" style="padding-right:20px;">
					<span>3,000 NTD (100 US$)</span>
				</td>
				<td class="ticket-quantity">
					<div class="form-group">
						<select class="form-control" name="AccompanyingPersonCount"
								ng-change="calcAmount()" ng-model="AccompanyingPersonCount">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<!--
						<p>{{accompanyingPersonQuantity}}</p>
						-->
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
