﻿@using EcoDesign2017OnlinePayment.Models.ViewModels
@{
	var regFeeSettings = new RegFeesViewModel();
	var paperPrice = regFeeSettings.NonSpeakerPrice;
	var ticketPrice = String.Format("{0:N0} NTD ({1} US$)", paperPrice, paperPrice / 30.0);
}
<div class="nonSpeaker-ticket-container">
	<table class="table table-condensed">
		<thead>
			<tr>
				<td width="35%">Ticket Type</td>
				<td></td>
				<td width="20%">Price</td>
				<td width="10%">Quantity</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="ticket-type" style="padding-right:20px;">
					@Html.Partial("RegCovers/_NonSpeakerRegCovers")
				</td>
				<td class="accept-papers" style="padding-right:20px;">
					<!--N/A-->
				</td>
				<td class="ticket-price" style="padding-right:20px;">
					<span>@ticketPrice</span>
				</td>
				<td class="ticket-quantity">
					<div class="form-group">
						<select class="form-control" name="NonSpeakerCount"
								ng-model="NonSpeakerCount" ng-change="calcAmount()">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
