﻿<div class="speaker-ticket-container">
	<table class="table table-condensed">
		<thead>
			<tr>
				<td width="35%">Ticket Type</td>
				<td>Accept Papers</td>
				<td width="20%">Price</td>
				<td width="10%">Quantity</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="ticket-type" style="padding-right:20px;">
					@Html.Partial("RegCovers/_SpeakerRegCovers")
				</td>
				<td class="accept-papers" style="padding-right:20px;">
					@if (Model.UserPapers != null && Model.UserPapers.Count > 0)
					{
						foreach (var item in Model.UserPapers)
						{
							<div class="checkbox">
								<label class="paper-title-label">
									<input type="checkbox" name="Speaker.SelectedPaperSNs[]" value="@item.PaperID" class="paper-check" ng-click="paperCheck_Click($event, @item.PaperID)" />
									<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
									@if (item.TreatAsPaperType.ToLower() != item.OriginalPaperType.ToLower())
					{
										<br />
										<span style="color:gray;font-weight:bold;">(Treat as <span class="paper-type @item.TreatAsPaperType.ToLower()">@item.TreatAsPaperType</span>)</span>
					}
									<br />
									<span>#@item.PaperID </span>
									<span class="paper-title ecoD-bold">@item.PaperTitle</span>
								</label>
							</div>
						}
					}
					else
					{
						<div class="checkbox">
							<label class="paper-title-label">
								<input type="checkbox" name="Speaker.SelectedPaperSNs[]" value="0" class="paper-check" ng-click="paperCheck_Click($event, 0)" />
								<span> N/A </span>
							</label>
						</div>
					}
				</td>

				<td class="ticket-price" style="padding-right:20px;">
					<span>18,000 NTD (600 US$)</span>
				</td>
				<td class="ticket-quantity">
					{{checkPaperCount}}
				</td>
			</tr>
		</tbody>
	</table>
</div>
