﻿<div class="speaker-ticket-container">
	@if (Model.UserPapers != null && Model.UserPapers.Count > 0)
	{
		<table class="table table-condensed">
			<thead>
				<tr>
					<td width="30%">Ticket Type</td>
					<td>Accept Papers</td>
					<td width="20%">Price</td>
					<td width="10%">Quantity</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="ticket-type" style="padding-right:20px;">
						<p class="text-center student-conver-title">Student <span class="color-darkgreen">(Speaker)</span> registration covers</p>
						<ul class="ticket-covers">
							<li>Proceedings (USB)</li>
							<li>Program brochure</li>
							<li>Reception</li>
							<li>Lunch and Coffee</li>
						</ul>

					</td>
					<td class="accept-papers" style="padding-right:20px;">
						@foreach (var item in Model.UserPapers)
						{
							<div class="paper-item">
								<label class="paper-title-label">
									<span class="paper-type @item.OriginalPaperType.ToLower()">@item.OriginalPaperType:</span>
									@if (item.TreatAsPaperType.ToLower() != item.OriginalPaperType.ToLower())
									{
										<br />
										<span style="color:gray;font-weight:bold;">(Treat as <span class="paper-type @item.TreatAsPaperType.ToLower()">@item.TreatAsPaperType</span>)</span>
									}
									<br />
									<span>#@item.PaperID </span>
									<span class="paper-title">@item.PaperTitle</span>
								</label>
								<div class="student-paper-choice" style="margin-left:20px;">
									<label>
										<input type="checkbox" name="Student.STDSNs[]" value="@item.PaperID" ng-click="StudentPaper_Click($event)" /> Standard
									</label>
									<br />
									<label>
										<input type="checkbox" name="Student.INCLBanquetSNs[]" value="@item.PaperID" ng-click="StudentPaper_Click($event)" /> Include Banquet
									</label>
								</div>
							</div>
						}
					</td>
					<td class="ticket-price" style="padding-right:20px;">
						<div>
							<b>Standard :</b>
							<br />
							<span>9,000 NTD </span>
							<br />
							<span>(300 US$)</span>
						</div>
						<br />
						<div>
							<b>Include banquet :</b>
							<br />
							<span>12,000 NTD</span>
							<br />
							<span> (400 US$)</span>
						</div>
					</td>
					<td class="ticket-quantity">
						<span>{{studentPaperCount}}</span>
					</td>
				</tr>
			</tbody>
		</table>
	}



	<!--Student with non-speaker -->
	<table class="table table-condensed">
		<thead>
			<tr>
				<td width="30%">Ticket Type</td>
				<td></td>
				<td width="20%">Price</td>
				<td width="10%">Quantity</td>
			</tr>
		</thead>
		<tbody>
			<!--No Banquet-->
			<tr>
				<td class="ticket-type" style="padding-right:20px;">
					<b>Student <span class="color-darkgreen">(Non-Speaker)</span> registration covers</b>
					<ul class="ticket-covers">
						<li>Proceedings (USB)</li>
						<li>Program brochure</li>
						<li>Reception</li>
						<li>Lunch and Coffee</li>
					</ul>
				</td>
				<td class="accept-papers" style="padding-right:20px;">
					<span></span>
				</td>
				<td class="ticket-price" style="padding-right:20px;">
					<div>
						<span>9,000 NTD </span>
						<br />
						<span>(300 US$)</span>
					</div>

				</td>
				<td class="ticket-quantity">
					<div class="form-group">
						<select class="form-control" name="Student.NonSpeakerCount"
								ng-model="StNonSpeakerCount"
								ng-change="calcAmount()">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<span>{{Student.NonSpeakerCount}}</span>
					</div>
				</td>
			</tr>

			<!--Banquet-->
			<tr>
				<td class="ticket-type" style="padding-right:20px;">
					<b>Student <span class="color-darkgreen">(Non-Speaker)</span> registration covers</b>
					<ul class="ticket-covers">
						<li>Proceedings (USB)</li>
						<li>Program brochure</li>
						<li>Reception</li>
						<li>Lunch and Coffee</li>
						<li><b class="color-red">Banquet</b></li>
					</ul>
				</td>
				<td class="accept-papers" style="padding-right:20px;">
					<span></span>
				</td>
				<td class="ticket-price" style="padding-right:20px;">
					<div>
						<span>12,000 NTD </span>
						<br />
						<span>(400 US$)</span>
					</div>

				</td>
				<td class="ticket-quantity">
					<div class="form-group">
						<select class="form-control" name="Student.NonSpeakerWithBanquetCount"
								ng-model="StNonSpeakerWithBanquetCount"
								ng-change="calcAmount()">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
						</select>
						<span>{{Student.NonSpeakerWithBanquetCount}}</span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
